img {
    display: block;
}
.card-header {
    font-size: 25px;
}

.card {
    background-color: rgb(244, 198, 14);
  display: inline-block;
    box-sizing: border-box;
}
.wrapper {
    width: 710px;
}
img {
    width: 200px;
    height: 200px;
}

