@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf); }

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white; }

.category {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: font-family;
  font-weight: 700;
  line-height: 37.5px;
  padding-top: 216px;
  padding-bottom: 30px;
  size: 32px; }

.flex-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

._name {
  font-family: font-family;
  font-weight: 300;
  line-height: 16.4px;
  padding: 25px;
  text-decoration: underline;
  size: 14px;
  text-align: center;
  margin-bottom: 71px; }

.flexshop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #EEEEEE;
  border-width: 20px; }

._button {
  text-decoration: underline;
  color: #000000;
  font-weight: 300;
  size: 16px;
  line-height: 18.75px;
  background-color: #EEEEEE;
  padding-top: 26px; }

._title {
  font-family: font-family;
  font-weight: 700;
  line-height: 28.13px;
  padding: 46 48 325 14px;
  size: 24px; }

a {
  color: #000000; }

.main-shop__about {
  padding: 48px; }

._par {
  font-family: font-family;
  font-weight: 400;
  line-height: 18.75px;
  size: 16px; }
