.composition {
  width: 600px;
  height: 400px;
  position: relative;
  background: url("https://htmlbase.ru/storage/app/media/position-task1/bg.jpg");
}
.ufo {
  position: relative;
  top: 100px;
  left: 110px;
  z-index: 3;
}
.planet-3 {
  position: relative;
  top: 150px;
  left: 60px;
  z-index: 2;

}
.planet-2 {
  position: relative;
  bottom: 10px;
  right: 270px;
  z-index: 1
;
 
}
.planet-1 {
  position: relative;
  bottom: 210px;
  left: 220px;
  z-index: 0;
  left: 200px;
}
.asteroid{
  position: relative;
  bottom: 220px;
  left: 300px;
}
.superman{
  position: relative;
  left: 300px;
  top: 35px;
}
.spaceship {
  position: relative;
  bottom: 155px;
  right: 120px;
  z-index: 1;
}